body {
    font-family: sans-serif, Roboto;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.contact-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;  
    gap: 15px;  
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.form-group {
    display: flex;
    flex-direction: column;  
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, 
.form-group select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 9px;
    background-color: #800020;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: gold;
}


/************** MOBILE VIEW ************/
@media (max-width: 768px) {

  .hamburger {
    display: block;
  }

  .nav {
    display: none;
    width: 100%;
  }

  .nav ul {
    flex-direction: column;
    background: #800020;
    padding: 10px 0;
  }

  .nav ul li {
    padding: 12px;
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.2);
  }

  .nav.active {
    display: block;
  }
}