 .container {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    grid-column: 1/3;
    background: darkgrey;
    justify-content: flex-start;
    height: 15vh;
    padding: 2rem;
    text-decoration: none;
    color: white;
}

.header .nav-item {
    margin: 45px -32px;
    padding: 20px;
}

.nav-item {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex;
    background: black;
    justify-content: space-evenly;
    align-items: center;
}

.nav-item a {
    text-decoration: none;
    color: white;
}

.main {
    grid-column: 1/2;
    height: 100vh;
    column-width: 800px;
    text-align: left;
    padding: 2rem;
    background: lightgrey;
}

.aside {
    grid-column: 2/3;
    text-align: left;
    padding: 2rem;
    background: lightslategray;
}

.footer {
    grid-column: 1/3;
    text-align: center;
    height: 10vh;
    padding: 1rem;
    background: darkgray;
    text-decoration: none;
    color: white;
}