* {
  margin: 0;
  padding: 0;
}

body {
  height: auto;
  font-family: Roboto, Arial, sans-serif;
}

main {
  display: flex;
  border: 1px solid rgb(0 0 0 / 0.1);
  padding: 1rem;
  background-color: #eee;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

ul {
  margin: 1rem;
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  text-align: center;
}
