* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: rgb(67, 67, 221);
  color: white;
}

h1 {
  text-align: left;
  padding-top: 27px;
}

 h2 {
    text-align: center;
    justify-content: center;
  } 

main {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: end;
}
 
nav a {
  color: white;
  text-decoration: none;
  padding: 1rem;
}

nav {
  display: none;
  width: 100%;
  background: rgb(67, 67, 221);
}

nav a:hover {
  text-decoration: underline;
  color: #fff;
} 

nav.open {
  display: block;
}

#menu-button::before {
  content: "☰";
  color: #fff;
}

#menu-button {
  background: none;
  position: absolute;
  right: 10px;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

#menu-button.open::before {
  content: "❌";
  font-size: 65%;
  padding-right: 5px;
}

figure {
  text-align: center;
}
 
.image-temple {
  font-size: 13px;
  color: #333;
  font-style: normal;
  text-align: center;
  margin: 0 auto;
  align-content: center;
  margin-top: 15px;
}

footer {
  background: rgb(67, 67, 221);
  color: white;
  text-align: center;
  padding: 1.5rem;
}

@media (min-width: 768px) {

  #menu-button {
    display: none;
  }

  nav {
    display: block;
    width: auto;
  }

  nav ul {
    flex-direction: row;
    gap: 1rem;
  }

  header {
    justify-content: space-between;
  }
}
   
 
   
