
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: auto;
  margin: 0;
  border: #333;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  gap: 1rem;
  padding: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: white;
  background: rgb(67, 67, 221);
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding: 0%;
  flex-direction: column; 
}

nav a {
  display: flex;
  color: #fff;
  padding: 1rem;
  justify-content:space-evenly;
  text-decoration: none;
}

nav {
  display: none;
  font-size: 1rem;
  border: 0;
  list-style: none;
  margin: 0 auto;
  margin-left: auto;
  background: none;
  color: #333;
  justify-content: end;
  background-color: rgb(67, 67, 221);
  margin-bottom: 0;
}

#menu-button::before {
  content: "☰";
}

#menu-button {
  background: none !important;
  border: none;
  padding-top: 0.5rem;
  font-size: 25px;
  position: absolute;
  right: 10px;
}

.open a {
  display: block;
}

nav.open {
  display: flex;
}

#menu-button.open::before {
  content: "❌";
  font-size: 65%;
  padding-right: 5px;
}

nav a:hover {
  text-decoration: underline;
  background-color: #eee;
  color: #000;
}

nav a.active {
  font-weight: bold;
  text-decoration: underline;
  color: red;
}

h1 {
  align-items:left;
  justify-content: flex-start;
  align-content: center;
  font-size: large;
  width: 100%;
}

main {
  display: grid;
  margin: 0 auto;
  padding-top: 2rem;
  grid-template-columns: 1fr;
}

figure {
  padding: 0.5rem;
}

.image-temple {
  text-align: center;
  margin: 0 auto;
  margin: 1px;
  align-content: center;
  padding-top: 2rem;
  margin-top: 5px;
}

.image-temple {
  padding-top: 3.5rem;
  font-size: 13px;
  color: #333;
  margin-top: 1px;
  margin-bottom: 5px;
  font-style: normal;
}

footer {
  margin-bottom: 0;
  width: 100%;
  padding-bottom: 1.5rem;
  text-align: center;
  justify-content: center;
  padding: 1.5rem;
  color: #fff;
  background: rgb(67, 67, 221);
}
